/* background of page */
.login-pf body {
    background: White none;
}

/* properties for html realm display name */
#kc-header-wrapper {
    font-size: 29px;
    text-transform: none;
    letter-spacing: 3px;
    line-height: 1.2em;
    padding: 12px 10px 10px;
    white-space: normal;
    color: black;
    font-family: 'Arial';
}

/* properties for "tagline" */
div#kc-header::after {
    content: 'If you are a new user, you will need to register and agree to terms of use before you can use this portal:';
    font-size: 18px;
    line-height: 25px;
    color: black;
    font-family: 'Arial';
}

/* between header::after and link-out to sage */
@media (min-width: 768px) {
    .login-pf-page .login-pf-page-header {
        margin-bottom: 5px;
    }
}

/* margin between Log In form and link-out to sage */
h1 {
    margin-top: 20px;
}

/* turn off provided button content */
a.zocial.oidc span {
    display:none;
}
a.zocial.oidc:before {
    display: none;
}

/* add sage images to various button states */
a.zocial.oidc {
    background: url("../img/sage-bionetworks-logo.svg") no-repeat center top;
    height: 46px;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d1d1;
}
a.zocial.oidc:hover {
    background: url("../img/sage-bionetworks-logo.svg") no-repeat center top !important;
    height: 46px;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d1d1;
}
a.zocial.oidc:active {
    background: url("../img/sage-bionetworks-logo.svg") no-repeat center top !important;
    height: 46px;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d1d1;
}
