# TODO this should be managed by the pipeline rather than the deployment
requests==2.31.0
google-auth==2.21.0
google-cloud-bigquery==3.11.3
jsonpickle==3.0.1
tqdm==4.66.1
db-dtypes==1.1.1
Jinja2==3.1.2
