controller:
  image:
    tag: 0.15.0
  config:
    use-proxy-protocol: "true"
    proxy-connect-timeout: "300"
    proxy-read-timeout: "300"
    proxy-send-timeout: "300"
    proxy-body-size: "1024m"
    # use output format that can be parsed by fluentd:
    # https://github.com/kubernetes/ingress-nginx/issues/1664
    log-format-escape-json: "true"
    log-format-upstream: '{"proxy_protocol_addr": "$proxy_protocol_addr","remote_addr": "$remote_addr", "proxy_add_x_forwarded_for": "$proxy_add_x_forwarded_for", "remote_user": "$remote_user", "time_local": "$time_local", "request" : "$request", "status": "$status", "body_bytes_sent": "$body_bytes_sent", "http_referer": "$http_referer", "http_user_agent": "$http_user_agent", "request_length" : "$request_length", "request_time" : "$request_time", "proxy_upstream_name": "$proxy_upstream_name", "upstream_addr": "$upstream_addr", "upstream_response_length": "$upstream_response_length", "upstream_response_time": "$upstream_response_time", "upstream_status": "$upstream_status"}'
    # proxy-buffer-size: "16k"
    # proxy-buffers: "16k"
    # client-header-buffer-size: "4k"
    # large-client-header-buffers: "8 32k"
    # client-header-buffers: "32k"
    # http2-max-header-size: "32k"
  metrics:
    enabled: true
  replicaCount: 2
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: '*'
      service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "300"
  stats:
    enabled: true
rbac:
  create: true
