agents:
  podAnnotations:
    container.apparmor.security.beta.kubernetes.io/agent: unconfined
    container.apparmor.security.beta.kubernetes.io/process-agent: unconfined
  enabled: true
  image:
    name: agent
    tag: 7.52.0
  tolerations:
    - key: workload
      operator: Equal
      value: datadog
      effect: NoSchedule
    - key: workload
      operator: Equal
      value: cbioportal
      effect: NoSchedule
    - key: workload
      operator: Equal
      value: redis
      effect: NoSchedule
clusterAgent:
  admissionController:
    enabled: true
    mutateUnlabelled: false
    agentSidecarInjection:
      enabled: true
  podAnnotations:
    container.apparmor.security.beta.kubernetes.io/cluster-agent: unconfined
  tokenExistingSecret: datadog
  createPodDisruptionBudget: true
  enabled: true
  image:
    name: cluster-agent
    tag: 7.52.0
  replicas: 2
  nodeSelector:
    workload: datadog
  tolerations:
    - key: workload
      operator: Equal
      value: datadog
      effect: NoSchedule
datadog:
  logLevel: INFO
  helmCheck:
    enabled: false
    collectEvents: false
  clusterName: cbioportal-prod-6acc6d70
  apiKeyExistingSecret: datadog
  clusterChecks:
    enabled: true
  logs:
    containerCollectAll: true
    enabled: true
  apm:
    instrumentation:
      skipKPITelemetry: true
targetSystem: linux