apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: geoblock-genie
  namespace: default
spec:
  plugin:
    geoblock:
      silentStartUp: false
      allowLocalRequests: false
      logLocalRequests: true
      logAllowedRequests: true
      logApiRequests: true
      api: "https://get.geojs.io/v1/ip/country/{ip}"
      cacheSize: 15
      forceMonthlyUpdate: true
      allowUnknownCountries: false
      unknownCountryApiResponse: "Unavailable For Legal Reasons"
      blackListMode: true
      addCountryHeader: true
      countries:
        - IR
        - KP
        - CU
        - CN
        - RU
        - VE
      httpStatusCodeDeniedRequest: 451
