apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: geoblock-genie
  namespace: default
spec:
  plugin:
    geoblock:
      blockedCountries:
        - IR
        - KP
        - CU
        - CN
        - RU
        - VE
      defaultAction: allow
      blockMessage: "Error 451: Unavailable For Legal Reasons"
      cacheDuration: 60
      trustedProxies:
        - "10.0.0.0/20"
      logBlocked: true