apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: genie-geoblock
  namespace: default
spec:
  plugin:
    geoblock:
      silentStartUp: false
      allowLocalRequests: true
      logLocalRequests: false
      logAllowedRequests: false
      logApiRequests: false
      api: ""
      apiTimeoutSeconds: 5
      cacheSize: 25
      forceMonthlyUpdate: true
      allowUnknownCountries: false
      unknownCountryApiResponse: 451
      blackListMode: true
      countries:
        - IR  # Iran
        - KP  # North Korea
        - CU  # Cuba
        - CN  # China
        - RU  # Russia
        - VE  # Venezuela