image:
  tag: v3.6.7
providers:
  kubernetesIngressNginx:
    enabled: true
deployment:
  replicas: 2
podDisruptionBudget:
  enabled: true
  minAvailable: 1
nodeSelector:
  workload: ingress
tolerations:
  - key: "workload"
    operator: "Equal"
    value: "ingress"
    effect: "NoSchedule"
logs:
  access:
    enabled: true
    format: json

# GeoBlocking Genie
experimental:
  plugins:
    geoblock: "github.com/PascalMinder/geoblock"
    version: "v0.2.7"
additionalArguments:
  - "--experimental.plugins.geoblock.moduleName=github.com/PascalMinder/geoblock"
  - "--experimental.plugins.geoblock.version=v0.2.7"