image:
  tag: v3.6.7
providers:
  kubernetesIngressNginx:
    enabled: true
    publishService:
      enabled: true
      pathOverride: "traefik/traefik"
  kubernetesCRD:
    enabled: true
deployment:
  replicas: 2
podDisruptionBudget:
  enabled: true
  minAvailable: 1
nodeSelector:
  workload: ingress
tolerations:
  - key: "workload"
    operator: "Equal"
    value: "ingress"
    effect: "NoSchedule"
logs:
  access:
    enabled: true
    format: json
    fields:
      general:
        defaultmode: keep
      headers:
        defaultmode: keep
        names:
          User-Agent: keep
          Referer: keep
          X-Forwarded-For: keep