image:
  tag: v3.6.7
providers:
  kubernetesIngressNginx:
    enabled: true
deployment:
  replicas: 2
podDisruptionBudget:
  enabled: true
  minAvailable: 1
nodeSelector:
  workload: ingress
tolerations:
  - key: "workload"
    operator: "Equal"
    value: "ingress"
    effect: "NoSchedule"
logs:
  access:
    enabled: true
    format: json