agents:
  podAnnotations:
    container.apparmor.security.beta.kubernetes.io/agent: unconfined
    container.apparmor.security.beta.kubernetes.io/process-agent: unconfined
  enabled: true
  image:
    name: agent
    tag: 7.52.0
  tolerations:
    - key: workload
      operator: Equal
      value: cbioportal
      effect: NoSchedule
    - key: workload
      operator: Equal
      value: cbio-genie
      effect: NoSchedule
    - key: workload
      operator: Equal
      value: datadog
      effect: NoSchedule
    - key: workload
      operator: Equal
      value: oncokb
      effect: NoSchedule
    - key: workload
      operator: Equal
      value: oncokb-beta
      effect: NoSchedule
    - key: workload
      operator: Equal
      value: cbioportal-redis
      effect: NoSchedule
clusterAgent:
#  confd:
#    nginx_ingress_controller.yaml: |-
#      cluster_check: true
#      init_config:
#      instances:
#        - prometheus_url: http://10.0.4.24:10254/metrics
#      logs:
#        service: nginx-ingress-controller
#        source: nginx-ingress-controller
  admissionController:
    enabled: true
    mutateUnlabelled: false
    agentSidecarInjection:
      enabled: true
  podAnnotations:
    container.apparmor.security.beta.kubernetes.io/cluster-agent: unconfined
  tokenExistingSecret: datadog
  createPodDisruptionBudget: true
  enabled: true
  image:
    name: cluster-agent
    tag: 7.52.0
  replicas: 2
  nodeSelector:
    workload: datadog
  tolerations:
    - key: workload
      operator: Equal
      value: datadog
      effect: NoSchedule
datadog:
  logLevel: DEBUG
  clusterName: cbioportal-prod-a9438edd
  apiKeyExistingSecret: datadog
  clusterChecks:
    enabled: true
  logs:
    containerCollectAll: true
    enabled: true
  apm:
    instrumentation:
      skipKPITelemetry: true
targetSystem: linux
