cluster:
  nodes: 20
  replicas: 1
image:
  repository: bitnamilegacy/redis-cluster
  registry: docker.io
existingSecret: oncokb-redis-cluster
existingSecretPasswordKey: REDIS_PASSWORD
redis:
  configmap: |-
    maxmemory 1Gb
    maxmemory-policy allkeys-lru
  livenessProbe:
    failureThreshold: 10
    initialDelaySeconds: 60
    timeoutSeconds: 5
  nodeSelector:
    workload: oncokb-redis
  readinessProbe:
    failureThreshold: 10
    timeoutSeconds: 5
  resources:
    requests:
      cpu: 100m
      memory: 2Gi # We store 1Gb of cache data + 1 Gb for internal Redis overhead
    limits:
      cpu: 1
      memory: 3Gi # Can lower again once we verify that redis is stable
  tolerations:
    - effect: NoSchedule
      key: workload
      operator: Equal
      value: oncokb-redis
