image:
  tag: "4.2"
  registry: "public.ecr.aws"
  repository: "bitnami/mongodb"
nodeSelector:
  workload: cbio-session
persistence:
  size: 200Gi
  existingClaim: cbioportal-session-service-mongodb-green
tolerations:
  - effect: NoSchedule
    key: workload
    operator: Equal
    value: cbio-session
auth:
  existingSecret: cbioportal-session-service-mongodb-creds